<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>HAWK</title>
  <link rel="stylesheet" href="/app.css" />
</head>
<body>
  <header>
    <nav class="nav">
      <a class="pill" href="/">Home</a>
      <a class="pill" href="/tasks">Tasks</a>
      <a class="pill" href="/status">Status</a>
      <a class="pill" href="/logs">Logs</a>
      <a class="pill" href="/caplets">Caplets</a>
      <a class="pill" href="/config">Config</a>
    </nav>
    <h1> Hackberry Assessment Web Kit </h1>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
